<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Log In </title>
  </head>
    <h1>Log In Below:</h1>
        <form method="POST" action="/sessions">
            <label><strong>Email: <input type="text" name="email"></strong></label>
            <label><strong>Password: <input type="text" name="password"></strong></label>
            <input type="submit" value="Log In"> 
        </form>
     </body>
</html>