<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    NAME: <input type="text" name="name" id="name">
    EMAIL: <input type="text" name="email" id="email">
    Password: <input type="text" name="password" id="password">
     <input type="submit" value="Sign Up"/>
</form>