<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<label for="name">User Name:</label>
<input type="text" name="name" id="">
<label for="email">User Email:</label>
<input type="text" name="email" id="">
<label for="password">Password:</label>
<input type="password" name="password" id="">
<button type="submit">Sign Up</button>
</form>


