<h1>Sign Up Below:</h1>



<form action="/registrations" method="post">
    NAME: <input type="text" name="name">
    EMAIL: <input type="text" email="email">
    Password: <input type="text" password="password">
     <input type="submit" value="sign up"/>
</form>